body {
  line-height: 1.4rem;
  color: #000000;
  background-color: #ececec;
  font-family: source sans pro;
}

div.maindiv {
  background-color: #ffffff;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4, h5, h6 {
  font-size: 1.0rem;
}

h1, h2, h3, nav {
  font-family: open sans;
  letter-spacing: 0.10rem;
}

h1, h2, h3, h4, h5, h6, strong {
  color: #202020;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #d89f0d;
}

a.navbar-brand {
  color: #aaaaaa;
}

a:hover {
  color: #aaaaaa;
}

nav {
  border: solid #202020;
  border-width: 0 0 6px 0;
  margin-bottom: 0px;
  font-weight: bold;
}

nav ul {
  padding: 0px;
  margin: 0px;
}

nav ul a
{
  color: #aaaaaa;
}

nav ul li.active a
{
  border-bottom: 8px solid #d89f0d;
  color: #d89f0d;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

footer {
  border: solid #171717;
  border-width: 2px 0 0 0;
}

code {
  font-family: source code pro;
  color: #373D3F;
}

pre.highlight {
  background-color: #ffffff;
  padding: 0.25rem;
}

div.content {
  padding-top: 1em;
}

div.meta {
  font-style: italic;
  color: #797979;
}

div.youtube-container {
  text-align: center;
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}

iframe.youtube-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

p.image {
  background-color: #ffffff;
}

.pdf-icon::before {
  font-family: 'Font Awesome 6 Free';
  content: '\f1c1';
  font-size: 2em;
  color: #D84727;
}

.youtube-icon::before {
  font-family: 'Font Awesome 6 Brands';
  content: '\f16a';
  font-size: 2em;
  color: #D84727;
}

.news-icon::before {
  font-family: 'Font Awesome 6 Free';
  content: '\f519';
  font-size: em;
  color: #D84727;
}

em {
  color: #797979;
}

div.content > ul > li::marker {
  color: #D84727
}